*.gz
*.zip
*.tsv
*.csv
/gdg
/env
.env
dti_env
runs

agent
.env
__pycache__
graph.html
lib

/gpt_model/checkpoint_best.pt
/checkpoints
/database/PDBlib/*
/database/PdbCCD/*
/database/SplitPdb/*
/databsae/PdbSws/*
/database/UniProtFastaCache/*
/database/UniProtMappingsCache/*

/latent_logs/*

TamGen_Demo_Data/*.bin
TamGen_Demo_Data/*.idx
TamGen_Demo_Data/src/*

.gradio

!data/drugbank_all_drugbank_vocabulary.csv.zip
!data/pdb_chain_ensembl.csv.gz
!data/pdbaa.gz

build/*