*.gz
*.zip
.env

__pycache__

/gpt_model/checkpoint_best.pt
/checkpoints

/database/PDBlib/*
/database/SplitPdb/*
/databsae/PdbSws/*
/database/UniProtFastaCache/*
/database/UniProtMappingsCache/*

/latent_logs/*

TamGen_Demo_Data/*.bin
TamGen_Demo_Data/*.idx
TamGen_Demo_Data/src/*

build/*

!.gitkeep
*.DS_Store